/*
******
Reset
******
*/

* {
  font-family: 'Roboto', sans-serif;
}

/*
******
Typography
******
*/

/*
******
Debug
******
*/

/*
******
Common
******
*/

:root {
  --campanella: #ff8f00;
  --bluejumbo: #1b72e8;
  --white: #ffffff;
  --sidenavback: #051e34;
}

/*
******
Body
******
*/

/*
******
Header
******
*/

header {
  height: 100px;
}

header .fa-bell {
  color: var(--campanella);
}

nav {
  background-color: var(--white);
}

span {
  font-weight: normal;
}

/*
******
Main
******
*/

#side-nav {
  background-image: url(/img/sidebar-bg.png);
  background-color: var(--sidenavback);
  color: var(--white);
  height: calc(100vh - 100px);
  margin-top: 100px;
}

#side-nav i span {
  font-size: 12px;
  font-weight: normal;
}

/*
******
Jumbotrone
******
*/

.jq-bottone-jumbo {
  padding: 0 10px;
  background-color: #165bba;
  border-radius: 10px;
  font-size: 12px;
}

.jumbotrone {
  background-color: var(--bluejumbo);
}

.btn {
  background-color: var(--bluejumbo);
}

/*
******
Footer
******
*/
