/*
******
Reset
******
*/

* {
  font-family: 'Roboto', sans-serif;
}

/*
******
Typography
******
*/

/*
******
Debug
******
*/

/*
******
Common
******
*/

:root {
  --campanella: #ff8f00;
  --bluejumbo: #1b72e8;
  --white: #ffffff;
}

/*
******
Body
******
*/

/*
******
Header
******
*/

header {
  height: 100px;
}

header .fa-bell {
  color: var(--campanella);
}

nav {
  background-color: var(--white);
}

/*
******
Main
******
*/

/*
******
Footer
******
*/
